language: node_js

install:
  - npm install

before_script:
  - npm install -g gulp

script:
  - gulp dist

cache:
  directories:
      - "node_modules"

deploy:
  provider: pages
  skip_cleanup: true
  repo: ncssmSECURED/ncssmSECURED.github.io
  github_token: $GITHUB_TOKEN
  on:
    branch: master
