extends templates/layout.pug

block content
  div.container-fluid
    h1 What We Do
    p SECURED (Support and Educate to Cure Infectious Diseases) is a student-led-and-run organization that aims to combat infectious diseases through awareness, funding, and research.
    p Our certified non-profit seeks to empower students to work alongside professionals to develop solutions for global health issues. Our projects promoting volunteerism and charitable events advance the current research and treatment of infectious diseases such as Dengue and AIDS. By increasing the literacy of these issues within our local community, we can create tangible impacts on our community.
