$btn-color: #6a5acd;
$btn-text-hover-color: #fff;

.btn-hex {
  background: transparent;
  border: 0;
  box-sizing: initial;
  color: $btn-color !important;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 60px;
  line-height: 60px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  // transition: 0.5s;
  width: 200px;
  z-index: 9999;

  &::after,
  &::before {
    border: 3px solid $btn-color;
    height: 27px;
    left: 0;
    width: 200px;
    z-index: -1;
    transition: 0.5s;
  }

  &::before {
    border-bottom: 0;
    content: '';
    position: absolute;
    transform: perspective(15px) rotateX(5deg);
  }

  &::after {
    border-top: 0;
    content: '';
    position: absolute;
    top: 32px;
    transform: perspective(15px) rotateX(-5deg);
  }

  &:focus{
    outline: none;
  }

  // &:hover {
  //   color: $btn-text-hover-color !important;
  //   transition: 0.5s;
  //
  //   &::after,
  //   &::before {
  //     background: $btn-color;
  //     transition: 0.5s;
  //   }
  // }

  & span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  & span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }

  &:hover span {
    padding-right: 15px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }

}
