$bg-color: #bfbabe;
$cure-red: #a63e14;
$accent-light: #f1f2f0;
$text-color: #558a86;

body {
  background: $bg-color;
  // text-align: center;
}

img {
  max-width: 100%;
}

.navbar-brand {
  img {
    max-width: none;
	}
}

.navbar {
  background-color: $accent-light;
  color: $text-color;
  margin-bottom: 20px;

  div {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

.nav-link {
  color: $text-color;
}

.navbar-nav {
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  width: 100%;
}

.logo {
  height: 50px;
}


.cure {
  color: $cure-red;
}

.main {
  margin: 0;
  padding: 0;
  padding-left: 15vw;
  padding-right: 15vw;
}

.contact-form {
  background-color: $accent-light;
  width: 30vw;
}

.logo-big {
  max-width: 90vw;
}

@media(max-width: 1000px) {
  .contact-form {
    width: 70vw;
	}
}


.no-pad {
  padding: 0;
}


.carousel-item {
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    bottom: -100%;
    height: 100%;
    left: 0;
    margin: auto;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: -100%;
    width: 100%;
  }
}


.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .picture {
    height: 200px;
    margin: 10px;
    overflow: hidden;
    width: 200px;

    img {
      height: auto;
      width: 100%;
  	}
	}

  .about {
    width: 100%;

    h2 {
      text-decoration: underline;
    }
	}
}
